name: Lint

on:
  workflow_run:
    workflows: ["Build"]
    types:
      - completed
    branches: [main]
  pull_request:

permissions:
  contents: read

jobs:
  golangci-lint:
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'pull_request' || github.event.workflow_run.conclusion == 'success' }}
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: "1.24"

      - uses: golangci/golangci-lint-action@v7
        with:
          version: v2.1
